<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script> 

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/horn.controller.js"></script>
  </head>
  <body ng-app="horn" ng-controller="hornController as horn">
    <ion-pane class="background">     
      <div id="airhorn">
        <div class="horn" ng-click="horn.play('horn1')">
          <div class="inner">
            <div class="center"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-33" >
          <div id="airhorn" >
            <div class="hornAux ha1" ng-click="horn.play('horn2')">
              <div class="innerAux">
                <div class="center"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-33">
          <div id="airhorn" >
            <div class="hornAux ha2" ng-click="horn.play('horn3')">
              <div class="innerAux">
                <div class="center"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-33">
          <div id="airhorn" >
            <div class="hornAux ha3" ng-click="horn.play('horn4')">
              <div class="innerAux">
                <div class="center"></div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </ion-pane>
  </body>
</html>
